@charset "utf-8";
@import "./vars";
@import "./nav.scss";
@import "./flex.scss";
@import "./tooltip.scss";
@import "./column.scss";
@import "./table.scss";
@import "./media.scss";

/** 全域 */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: normal;
  background: #fafafa;
}

body {
  overflow-x: hidden;
  color: $default-txt-dark;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-ms-clear,
*::-ms-reveal {
  display: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

#header,
#footer,
#defaultimg,
.content,
.innerhtml,
.frm {
  width: 100%;
  height: auto;
}

.container {
  max-width: $container-width;
  height: auto;
  margin: 0 auto;
  padding: 14px 30px;
  position: relative;
  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}

/** defaultimg */
#defaultimg {
  line-height: 0;
}

.rwdimg {
  width: 100%;
  height: auto;
}

.rwdimgmax {
  max-width: 100%;
  height: auto;
}

.innerhtml img {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.path {
  font-size: 13px;
  font-weight: normal;
  color: #999;
  text-align: right;
}

.path a {
  color: #999;
}

.side,
.main {
  height: auto;
}

* {
  box-sizing: border-box;
}

/** page-overlay */
.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.29);
  z-index: 9;
  visibility: hidden;
}

.is-open .page-overlay {
  visibility: visible;
}

.is-close .page-overlay {
  visibility: hidden;
}

/* h1~h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* ol ul*/
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1em;
}

p {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

/* 表單 */

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &[type=checkbox] {
    max-width: 16px;
    height: auto;
    margin-top: 5px;
  }
}

/* 按鈕 */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  border-radius: 30px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  white-space: nowrap;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
  &.send {
    background: $default-icon;
    &.unable {
      color: #fff;
      background: #d3d3d3;
    }
  }
  &.goBack {
    background: #fbb54d;
  }
  &.goBack2 {
    color: #000;
  }
}


/* 區塊控制 */
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

// 電腦版顯示
.for-pc {
  display: block;
  @media (max-width: 767px) {
    display: none !important;
  }
}

// 手機版顯示
.for-mobile {
  display: none !important;
  @media (max-width: 767px) {
    display: block !important;
  }
}

.channel-wrap {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 1093px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

/** main */
main {
  margin-top: $header-height;
  height: calc(100vh - 56px);
  width: 100%;
}

/** header */
.channel-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: $header-height;
  flex-direction: row;
  .channel-container {
    max-width: 1093px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 2px 7px -1px rgba(147, 137, 117, 0.2);
    @media (max-width: 767px) {
      box-shadow: none;
    }
  }
  .channel-header-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .channel-header-title {
      height: $header-height;
      width: 220px;
      @media (max-width: 405px) {
        width: 100%;
      }
      img {
        height: 100%;
        width: 100%;
        max-height: $header-height;
        max-width: 220px;
      }
    }
    .channel-header-item {
      white-space: nowrap;
      width: calc((100% - 220px) / 2);
      @media (max-width: 415px) {
        width: calc((100% - 180px) / 2);
      }
      &:first-child {
        text-align: left;
        padding-left: 1em;
        i {
          font-size: xx-large;
        }
      }
      &:not(:first-child){
        text-align: right;
        padding-right: 1em;
        @media (max-width: 415px) {
          padding-right: 0;
          width: calc((100% - 135px) / 2);
        }
      }
      .hi-user {
        width: 150px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        @media (min-width: 768px) and (max-width: 991px) {
          width: 100px;
        }
      }
    }
  }
}


.rwdimg-cover {
  display: flex;
  width: 100%;
  min-height: 60px;
  height: auto;
  padding-bottom: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &.h20 {
    padding-bottom: 20%;
  }
  &.h37 {
    padding-bottom: 37%;
  }
  &.h50 {
    padding-bottom: 50%;
  }
  &.h55 {
    padding-bottom: 55%;
  }
  &.h65 {
    padding-bottom: 65%;
  }
  &.h72 {
    padding-bottom: 72%;
  }
}

.border-radius5 {
  border-radius: 0.5em;
}

