/** 自定專案用style */
@import "./vars.scss";

.rwdimg-cover {
  display: flex;
  width: 100%;
  min-height: 60px;
  height: auto;
  padding-bottom:100%;
  overflow:hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  &.h20{
    padding-bottom:20%;
  }
  &.h37{
    padding-bottom:37%;
  }
  &.h50{
    padding-bottom:50%;
  }
  &.h55{
    padding-bottom:55%;
  }
  &.h65{
    padding-bottom:65%;
  }
}

.border-radius5{
  border-radius: .5em;
}
