$container-width: 1093px;
$base-spacing-1: 12px;
$base-spacing-2: 24px;
$padding-wrap: 1.5em;
$imgbox-img: 48px;

$header-height: 56px;
$main-height: calc(100vh - 48px);
$aside-width: 160px;
$aside-out-width: $aside-width + $base-spacing-2;
$aside-bgcolor: #fff;

$header-color: #ff8c05;

$default-color: #FF9D42;
$default-txt: #13334C;
$default-txt-dark: rgba(0,0,0,0.87);
$default-icon: #FD5F00;
$default-txt-size: medium;

$alink-color: #182b56;
$from-txt: #818181;

$tooltip-size: 10px;
$tooltip-color: #717171;

$table-bgcolor: #EEEEEE;
$table-highlight: #F8F9Fa;
$table-font-size: 13px;

$spacialprice-color: #c4c4c4;

$border-solid-1: #ced4da 1px solid;
$box-shadow-1: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

$channel-color1: #ffbe5b;
$channel-color2: #ffb26b;
$channel-color3: #FE9060;
$channel-color4: #FE8660;
